/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Google */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(242, 236, 236)
}

/* Add your code here */
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.card {
  background-color: white;
  width: 250px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(122, 120, 120);

  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-top, .card-bottom{
  font-weight: 650;
  font-size: 2.5rem;
}

.card-bottom {
  text-align: right;
}

.card-emoji {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 4rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(134, 151, 203);
  color: white;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: .2rem;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 2px;
}

button:hover {
  background-color: blue;
}